@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue"), 
       local("HelveticaNeue"), 
       url(fonts/HelveticaNeue-Regular.ttf);
}
@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"), 
       local("HelveticaNeue-Bold"), 
       url(fonts/HelveticaNeue-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Medium"), 
       local("HelveticaNeue-Medium"), 
       url(fonts/HelveticaNeue-Medium.ttf);
  font-weight: bolder;
}
 
body { 
	font-family: MyHelvetica, sans-serif; 
}
* {
	margin: 0;
	padding: 0;
}
img{	
	border: none;
}		
ul li{
	list-style: none;
}
input, textarea, select, button{
	outline: none;	
	border:none;
}

/*----------------------------------------*/

/*header-block*/
.header-block{
	background:#313131 url('../images/bg.png');
	width:100%;
	color:white;
}
.main{
	width:940px;
	margin:0 auto;
	overflow:hidden;
}
.header-block{
	border-bottom:4px solid black;
	position:relative;
}
.header-block .head{
	overflow:hidden;
	margin-top:24px;
}
.header-block .head a.logo{
	background:url('../images/logo.png') no-repeat 0 0;
	float:left;
	min-width:130px;
	min-height:36px;
}
.header-block .main-navigation{
	padding-right:10px;
	padding-top:1px;
	overflow:hidden;
	float:right;
}
.header-block .main-navigation li{
	text-align:center;	
	float:right;	
	padding:7px 0;		
}
.header-block .main-navigation a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	text-align:center;
	border-right:1px solid #273035;padding:0 18px;
}
.header-block .main-navigation li:hover, .main-navigation li.active{
	background-color: #2f2f2f;
	border-radius:4px;
}
.header-block input{
	float:right;
	height:25px;
	width:130px;
	border-radius:25px;
	padding:0 10px;
	padding-left:20px;
	margin:5px 2px 0 10px;
	color:white;
	background:#2f2f2f url("../images/search.png") no-repeat 5px 7px;
}
.header-block .content{
	width:305px;
	padding:60px 5px 130px;
	float:left;
}
.header-block .content h2{
	font-size: 24px;
	text-align:left;
}
.header-block .content p{
	font-size: 12px;
	padding-top:25px;
}
.header-block .content .button{
	padding-top:25px;
}
.header-block .content a{
	color:white;
	text-decoration:none;
	padding:10px 25px;
	background-color:#969697;
	font-size: 13px;
	font-weight:bold;
	border-radius:4px;
}
.header-block .head-image{
	float:right;
	padding-right:75px;
	padding-top:27px;
}



.blocks-block{
	width:100%;
	overflow:visible;
	position:absolute;		
	margin-top:-65px;
	padding-left:1px;
}
.blocks-block .block{
	width:180px;
	padding:20px;
	font-size:12px;
	margin-right:15px;
	display:inline-block;
	top:-65px;
	left:0;
	background-color:white;
	box-shadow:0 0 2px 1px #e9e9e9;
}
.blocks-block .block h2{
	font-size:15px;
	font-weight:bolder;
}
.blocks-block .block .description{
	padding-top:25px;
	color:#979797;
}
.blocks-block .block .text{
	padding-top:12px;
	padding-bottom:25px;
	border-bottom: 5px solid #cecece;
    border-image-repeat: round;
    border-image-source: url("../images/border.png");
    border-image-slice: 4;
    border-style: solid;
    border-width: 5px;
    border-top:0;
}
.blocks-block .block:nth-child(4n){
	margin-right:0;
}
.blocks-block .block a{
	color:#333333;
	text-decoration:none;
	padding-top:15px;
	font-size: 13px;
	font-weight:bold;
	display:block;
}



.middle-block{
	width:100%;
	padding-top:320px;
	padding-bottom:50px;
	border-bottom:4px solid black;
}
.middle-block h2{
	display:block;
	padding:12px 25px 12px;
	border-bottom: 5px solid #cecece;
    border-image-repeat: round;
    border-image-source: url("../images/border.png");
    border-image-slice: 4;
    border-style: solid;
    border-width: 5px;
    border-top:0;
	margin-bottom:12px;
}
.middle-block .block{
	margin-top:20px;
	margin-right:15px;
	width:220px;
	height:200px;
	display:inline-block;
	font-size:12px;
}
.middle-block .block .text{
	padding:0 20px;
}
.middle-block .block .description{
	color:#979797;
	padding:0 20px;
}
.middle-block .block:nth-child(4n){
	margin-right:0;
}







